.page.receive-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-option {
  display: flex;
 
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.img_logo {
  text-overflow: clip;
}

.payment-option.selected {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.payment-option:hover {
  background-color: #f0f8ff;
}

.payment-option-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.error-message,
.success-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}
